APP_NAME="皓量云擎业务管理系统"
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_INSTALLED=false
APP_URL=http://localhost
ADMIN_PATH=admin
SESSION_SECURE=false
JWT_SECRET=
JWT_TTL=7200
WEBMAN_LISTEN=http://0.0.0.0:8989
WEBMAN_COUNT=4

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=hlyq_idcbm
DB_USER=root
DB_PASSWORD=
DB_PREFIX=hlyq_

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=0
